aniso8601==1.2.0
appdirs==1.4.0
beautifulsoup4==4.5.3
blinker==1.4
click==6.7
Flask==0.12
Flask-Mail==0.9.1
Flask-RESTful==0.3.5
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
mock==2.0.0
packaging==16.8
pbr==1.10.0
py==1.4.32
pyparsing==2.1.10
pytest==3.0.6
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
waitress==1.0.1
WebOb==1.7.1
WebTest==2.0.24
Werkzeug==0.11.15
